<h1>Update list </h1>

<form method="post" action="/users/todos/<%= @todo.id %>/lists/update/<%= @list.id %>">
  <input  id="hidden" type="hidden" name="_method" value="patch">
  <p>Username: <input type="text" name="username" placeholder="Username:"></p>
  <p>Password: <input type="password" name="password" placeholder="Password:"></p>

  <br>
  <p>Description: <input type="text" name="description" placeholder="Description:"></p>
  <p>Start_date: <input type="datetime" name="start_date" placeholder="End_date:"></p>
  <p>End_date: <input type="datetime" name="end_date" placeholder="Start_date:"></p>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>