<h3>Create new list</h3>

<form method="POST" action="/users/todos/<%= @todo.id %>/lists/create">
  <p>Description: <input type="text" name="description" placeholder="Description:"></p>
  <p>Start_date: <input type="datetime" name="start_date" placeholder="End_date:"></p>
  <p>End_date: <input type="datetime" name="end_date" placeholder="Start_date:"></p>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>

