<h3>Create your account:</h3>

<form method="POST" action="/users/create">
  <p>Username: <input type="text" name="username" placeholder="Username:"></p>
  <p>Email: <input type="email" name="email" placeholder="Email:"></p>
  <p>Password: <input type="password" name="password" placeholder="Password:"></p>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>