<ul class="list-group">
  <li class="list-group-item">Users</li>
	<% @users.each do |user| %>
		<div>
			 <li class="list-group-item list-group-item-dark"><%= user.username %></li>    
		</div>
	<% end %>
</ul>